@using Newtonsoft.Json
@inject Microsoft.Extensions.Configuration.IConfiguration configuration

@{
    ViewData["Title"] = "Home Page";
    AccountModel authenUser = null;
    if (!string.IsNullOrWhiteSpace((string)ViewBag.AuhenUser))
    {
        try
        {
            authenUser = JsonConvert.DeserializeObject<AccountModel>((string)ViewBag.AuhenUser);
        }
        catch (Exception e) { }
    }
    var hubServiceEndpoint = configuration.GetSection("HubServiceEndpoint").Value;

}

<input type="text" hidden value="@hubServiceEndpoint" id="js-hubServiceEndpoint" />
<h3>ME: @authenUser.UserName</h3>
@foreach (var channel in authenUser?.Channels)
{
    var container_id = $"{authenUser.Id}-{channel.Id}";
    <div class="chat-container" id="@container_id">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row"><h5>@channel.Name</h5></div>
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><span id="userId">@authenUser.Id</span></div>
                <div class="col-4"><span id="userName">@authenUser.UserName</span></div>
            </div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <br />
            </div>
        </div>
    </div>
}
<script>

</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
