@using Newtonsoft.Json
@inject Microsoft.Extensions.Configuration.IConfiguration configuration

@{
    ViewData["Title"] = "Home Page";
    AccountModel authenUser = null;
    if (!string.IsNullOrWhiteSpace((string)ViewBag.AuhenUser))
    {
        try
        {
            authenUser = JsonConvert.DeserializeObject<AccountModel>((string)ViewBag.AuhenUser);
        }
        catch (Exception e) { }
    }
    var hubServiceEndpoint = configuration.GetSection("HubServiceEndpoint").Value;
    var channelids = authenUser.Channels != null ? string.Join(",", authenUser.Channels.Select(s => s.Id.ToString()).ToArray()) : string.Empty;
}

<input type="text" hidden value="@hubServiceEndpoint" id="js-hubServiceEndpoint" />
<input hidden id="authen-user-id" value="@authenUser.Id" />
<input hidden id="authen-user-name" value="@authenUser.UserName" />
<input hidden id="authen-user-channels" value="@channelids" />
<h3>ME: @authenUser.UserName</h3>

@foreach (var channel in authenUser?.Channels)
{
    var container_id = $"{authenUser.Id}-{channel.Id}";
    <div class="chat-container" data-channel-id="@channel.Id" data-channel-name="@channel.Name" id="@container_id">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row"><h5>@channel.Name (ID @channel.Id)</h5></div>
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><span id="userName">@authenUser.UserName (ID @authenUser.Id)</span></div>
            </div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" class="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" class="sendButton" value="Send Message" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul class="messagesList"></ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <br />
            </div>
        </div>
    </div>
}
<script>

</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
